<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>박스오피스 검색</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <!-- 날짜 검색시 그날의 영화 등수, 영화명, 개봉일 누적 관객수 출력 -->
    <!-- 검색어 없을 경우 에러, 검색어 없는 경우 기본 값 today -->

    <form action="{{ url_for('answer') }}">
        <input type="text" name="query">
        <button type="submit">검색</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">랭킹</th>
                <th scope="col">영화명</th>
                <th scope="col">영화개봉일</th>
                <th scope="col">누적관객수</th>
            </tr>
        </thead>
        <tbody>
            <!-- 여기 tr은 1줄을 의미합니다. 데이터를 반복해서 보여줘야 하니까 반복문을 사용해야겠죠? -->
            {% for mv_rank in data %}
                <tr>
                    <th scope="row">{{ mv_rank.rank|e }}</th>
                    <td>{{ mv_rank.movieNm|e }}</td>
                    <td>{{ mv_rank.openDt|e }}</td>
                    <td>{{ mv_rank.audiCnt|e }}</td>
                </tr>
                        <!-- {{ mv_rank|e }} -->
            {% endfor %}

        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>